<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.npci.faceauth"
        version="1.0.0">

    <name>NPCIFaceAuth</name>

    <js-module src="www/FaceAuth.js" name="FaceAuth">
        <clobbers target="cordova.plugins.FaceAuth"/>
    </js-module>

    <platform name="android">

        <!-- Register plugin -->
        <config-file target="config.xml" parent="/*">
            <feature name="FaceAuth">
                <param name="android-package" value="com.npci.faceauth.FaceAuthPlugin"/>
            </feature>
        </config-file>

        <!-- Java plugin -->
        <source-file src="src/android/FaceAuthPlugin.java"
                     target-dir="src/com/npci/faceauth"/>

        <!-- NPCI SDK AAR -->
        <source-file src="src/android/libs/npci-faceauth.aar"
                     target-dir="libs"/>

        <!-- Gradle reference -->
        <framework src="src/android/faceauth.gradle"
                   custom="true"
                   type="gradleReference"/>

        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

    </platform>

</plugin>
